<div
  style="
    height: 65px;
    display: flex;
    justify-content: space-between;
    padding: 12px;
  "
>
  <div style="display: flex; cursor: pointer" (click)="home()">
    <img
      src="../../../assets/logo.png"
      style="width: 50px; margin-right: 4px"
    />
    <h1 style="margin-top: 12px">Odoo Library</h1>
  </div>

  <div style="gap: 12px; display: flex">
    <button class="greenbtn" *ngIf="role == '0'" (click)="addLib()">
      Invite
    </button>
    <button class="greenbtn" (click)="list()">View Books</button>
    <button class="greenbtn" (click)="myBooks()">My Books</button>
    <button class="redbtn" (click)="logout()">Logout</button>
  </div>
</div>
<hr />
