/* You can add global styles to this file, and also import other style files */

@import url("app/constants.scss");

html,
body {
  height: 99%;
}
body {
  margin: 0;
  font-family: "Patrick Hand", cursive;
}
